
/*
 * (C) Copyright 2010-2013 hSenid Mobile Solutions (Pvt) Limited.
 * All Rights Reserved.
 *
 * These materials are unpublished, proprietary, confidential source code of
 * hSenid Mobile Solutions (Pvt) Limited and constitute a TRADE SECRET
 * of hSenid Mobile Solutions (Pvt) Limited.
 *
 * hSenid Mobile Solutions (Pvt) Limited retains all title to and intellectual
 * property rights in these materials.
 */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/google_font1.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/google_font2.woff) format('woff');
}

.appstore-container{
    min-height:100%;
    position:relative;
    padding-bottom: 75px;
}

body {
    padding-top: 40px;
    background-color: #ffffff;
    height: 100%;
}

html{
    height: 100%;
}

footer{
    background-color: #373737;
    color: #a0a0a0;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    min-height: 60px;
    float:left;
    width:100%;
    font-size: 10pt;
}

.footerPlacement{
    position:absolute;
    bottom:0;
    width:100%;
}

.image-select-icon{
    color: #D7D7D7;
}

.image_upload_placeholder{
    margin-top: 17px;
}

.has-error{
    color: #CF0915;
    padding: 10px;
}

.imageValidationNote{
    color: #757575;
    text-align: left;
    padding-left: 120px;
}

.image-select-class{
    width: 100px;
    height: 100px;
    background-color: #f5f5f5;
    border: 1px solid #e1e1e1;
    float: left;
    text-align: center;
    color: #979797;
    /*padding-top:30px;*/
    margin-left: 10px;
    overflow: hidden;

}

.image-select-class:hover{
    background-color: #ededed;
    border: 1px solid #d1d1d1;
    color: #8f8f8f;
}

.selectedImage{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.footer-content{
    padding-bottom: 10px;
    text-align: center;
}

.footer-text{
    text-align: center;
    color: #797979;
}

.footer-text a{
    text-align: center;
    color: #797979;
}

label{
    font-weight: lighter;
    color: #226a45;
}

.form-control:focus {
    border-color: #226a45;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(34, 106, 69, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(34, 106, 69, 0.6);
}

.branding-background{
    background-color: #226a45;
    color: #ffffff;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #226a45;
    border-color: #226a45;
}

.branding-font-style{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-size: 15pt;
}

.branding-border{
    border-color: #226a45;
}

.branding-font-color{
    color: #226a45;
}

.branding-background-hover:hover{
    background-color: #215d39;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
    background-color: #215d39;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #1f4624;
}

.navbar-default .navbar-nav > li > a {
    font-size: 12pt;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.remove-lr-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.remove-l-padding{
    padding-left: 0px;
}

.remove-top-margin{
    margin-top: 0;
}

.add-lr-margin{
    margin-left: -5px;
    margin-right: -5px;
}

.add-r-margin{
    margin-right: 10px;
}

.add-tb-margin{
    margin-top: 15px;
    margin-bottom: 15px;
}

.add-b-margin{
    margin-top: 30px;
}

.row{
    margin: 0;
}

.sign-in-connect-notice{
    font-size: 12pt;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*Begin -- Written by hSenid Mobile Solutions*/

/*Begin overriding bootstrap.css*/

.navbar{
    min-height: 30px;
}

.navbar-nav{
    margin: 0px;
}

.well{
    padding: 0px;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
}
/*End overriding bootstrap.css*/

.navigation-links a{
    font-weight: bold;
    line-height: 30px;
    margin-left: 10px;
    /*margin-right: 10px;*/
    color: #ffffff;
    text-decoration: none;
}

.navigation-links a:hover{
    color: #f4f4f4;
}

.appstore-nav{
    padding-top: 10px;
    padding-bottom: 10px;
}

.appstore-logo{
    /*padding: 5px 15px 5px 15px;*/
    height: 40px;
}

.navbar-brand{
    padding: 0px;
}

.appstore-sidebar-nav > li > a{
    color: #747474;
    font-size: 16px;
    border-bottom: solid #e2e2e2 1px;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.side_nav_middle_topic{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: solid #cbcbcb 1px;
    color: #ffffff;
}

.appstore-slideshow{
    width: 100%;
    height: auto;
    border: 1px solid #CECECE;
    background-color: #ffffff;
}

.appstore-slideshow-icon{
    font-size: 16pt;
}

.appstore-slideshow-app-name{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    min-width:100%;
    max-width: 450px;
    font-size: 25pt;
    color: #424242;
    text-align: left;
    float: left;
}

.appstore-slideshow-app-category{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-size: 15pt;
    color: #424242;
    text-align: left;
    float: left;
}

.appstore-slideshow-app-rating{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-size: 12pt;
    color: #424242;
    float: left;
    text-align: left;
    width: 100%;
}

.appstore-slideshow-app-dev-name{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-size: 11pt;
    color: #979797;
    text-align: left;
    float: left;
    padding-top: 5px;
}

.appstore-slideshow-app-des{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-size: 11pt;
    color: #979797;
    text-align: left;
    float: left;
    padding-top: 5px;
    width:auto;
}

.app-panel-title-area{
    width: 100%;
    margin-top: 15px;
    margin-bottom: -20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.app-panel-search-title-area{
    width: 100%;
    padding: 7px 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: -15px;
}

.app-panel-common-title-area{
    width: 100%;
    margin-bottom: -15px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.app-panel-title{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    float: left;
    color: #ffffff;
}

.app-panel-title-search{
    width: 100%;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    float: left;
    color: #ffffff;
}

.search-filter-list{
    color: #ffffff;
}

.search-filter-list option{
    color: #ffffff;
}

.search-filter-list option:hover{
    color: #ffffff;
    background-color: #215d39;
}

.app-panel-title-right{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    float: left;
    margin-top: 0px;
    color: #ffffff;
}

.app-panel-title-area-right{
    width: 100%;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 15px;
    padding-right: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.app-title-view-all{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-size: 15px;
    float: right;
    margin-top: 10px;
    color: #ffffff;
    cursor: pointer;
}

.app-title-view-all:hover{
    color: #dcdcdc
}

.app-title-view-all a{
    color: #ffffff;
    text-decoration: none;
}

.app-title-view-all a:hover{
    color: #dcdcdc
}

.appstore-apps{
    margin-top: 20px;
}

.appstore-app{
    background-color: #F1F1F1;
    border: solid #DFDFDF 1px;
    color: #888888;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.appstore-app:hover{
    background-color: #f4f4f4;
    border: solid #cecece 1px;
    color: #acacac;

    cursor:pointer;
    -webkit-box-shadow: 2px 2px 13px rgba(50, 50, 50, 0.31);
    -moz-box-shadow:    2px 2px 13px rgba(50, 50, 50, 0.31);
    box-shadow:         2px 2px 13px rgba(50, 50, 50, 0.31);

    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#8e8e8e')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#8e8e8e');

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.app-tile-right{
    margin-left: -5px;
}

.appstore-app-right{
    background-color: #F1F1F1;
    border: solid #DFDFDF 1px;
    color: #888888;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    margin-bottom: 10px;
}

.appstore-app-right:hover{
    background-color: #f4f4f4;
    border: solid #cecece 1px;
    color: #acacac;

    cursor:pointer;
    -webkit-box-shadow: 2px 2px 13px rgba(50, 50, 50, 0.31);
    -moz-box-shadow:    2px 2px 13px rgba(50, 50, 50, 0.31);
    box-shadow:         2px 2px 13px rgba(50, 50, 50, 0.31);

    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#8e8e8e')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#8e8e8e');

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.appstore-app-icon{
    width: 160px;
    max-width: 100%;
    max-height: 100%;
    margin-top:15px;
    margin-bottom:5px;
    float: left;
}

.appstore-app-icon-right-card{
    width: 30%;
    max-width: 100%;
    max-height: 100%;
    margin-top:10px;
    margin-bottom:10px;
    float: left;
}

.appstore-app-name{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    float: left;
    font-size:11pt;
    color: #6D6D6D;
    padding-left: 0px;
    width:100%;
    overflow: hidden;
    margin-top: -5px;
}

.appstore-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.appstore-app-action-icon{
    float:right;
    padding: 2px 5px;
    color: #ffffff;
    font-size:10pt;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.appstore-app-action-icon:hover{
    background-color: #215d39;
}

.appstore-app-name-right-card{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    float: left;
    font-size:11pt;
    color: #6D6D6D;
    max-width: 40%;
    padding-left: 0px;
    margin-top:15px;
    padding-left: 15px;
}

.appstore-app-stat-right-card{
    float: right;
    padding-left: 0px;
    margin-top:15px;
}

.appstore-app-right-button{
    padding: 5px;
    margin-top: 15px;
    float: right;
    color: #ffffff;
    font-size:10pt;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.appstore-app-right-button:hover{
    background-color: #215d39;
}

.appstore-app-right-button-icon{
    margin-right: 3px;
}

.appstore-app-details-right-card{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    float: left;
    font-size:10pt;
    color: #6D6D6D;
    padding-left: 0px;
    margin-top:5px;
    padding-left: 15px;
    text-align:left;
    max-height: 35px;
    overflow: hidden;
    max-width: 65%;
    min-width: 50%;
}

.add-reviews{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    float: right;
    font-weight: bold;
    font-size:12pt;
    margin-top:5px;
    padding-right: 15px;
    text-align:left;
}

.add-reviews a:hover{
    color: #226a45;
}

.appstore-app-owner{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    float: left;
    font-size:10pt;
    color: #616161;
    padding-bottom: 10px;
    padding-left: 0px;
    width: 100%;
}

.appstore-app-owner-name{
    float: left;
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.appstore-app-icon-3{
    width: 134px;
    max-width: 100%;
    max-height: 100%;
    margin-top:15px;
    margin-bottom:5px;
    float: left;
}

.appstore-app-detail-sub-3{
    padding-left: 15px;
    padding-top: 20px;
    width:38%;
    float:left;
}

.appstore-app-detail-sub-3-2{
    padding-top: 20px;
    width:25%;
    float:right;
}

.appstore-app-name-3{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    float: left;
    font-size:20pt;
    font-weight: lighter;
    color: #6D6D6D;
    width: 100%;
    overflow: hidden;
}

.appstore-app-description-3{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    float: left;
    font-size:10pt;
    color: #6D6D6D;
    margin-top:5px;
    margin-bottom: 15px;
    text-align:left;
    height: 49px;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.appstore-app-users-3{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    float: left;
    font-size:12pt;
    font-weight: lighter;
    color: #6D6D6D;
    text-align: left;
    width: 100%;
}

.appstore-app-rating-area-3{
    width: 100%;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    float: left;
    font-size:15pt;
    font-weight: lighter;
}

.appstore-app-3-button{
    padding: 5px;
    float: right;
    color: #ffffff;
    font-size:10pt;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

@media (min-width: 992px) {
    .app-tile {
        width: 20%;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
        height: 225px;
    }

    .app-tile-3 {
        width: 60%;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
        height: 225px;
    }

    .app-view-app-icon-area{
        width: 17.3%;
        padding: 0px;
    }

    .user-profile-pic-area{
        width:6.1%;
        padding: 0;
    }

    .app-view-app-description-area{
        width: 82.7%;
        padding-right: 2px;
    }

    .app-view-profile-pic-area{
        width: 12.5%;
    }

    .app-view-profile-review-area{
        width: 87.5%;
    }

    .appstore-slideshow-description{
        padding: 10px;
        float: left;
        width: 50%;
        height: 100%;
        overflow: hidden;
    }

    .appstore-slideshow-image{
        padding:5px;
        float:left;
        width: 50%;
    }

}

@media screen and (min-width: 768px) {
    .modal-dialog-image-viewer {
        right: auto;
        margin-top: 25px;
        left: 35%;
        width: auto;
    }

    .modal-dialog-add-reviews {
        margin-top: 50px;
    }
}

@media screen and (max-width: 400px) {

    .appstore-slideshow-description{
        padding: 10px;
        float: left;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .appstore-slideshow-image{
        padding:5px;
        float:left;
        width: 100%;
    }
}

.user-profile-pic{
    width:50px;
    float:left;
}

.rating-color{
    color: #e59300;
}

.navbar-active{
    border-bottom: 3px solid #4c5f00;
}

.publishingSuccessNotice{
    text-align: center;
    margin-top: 55px;
    padding-top: 25px;
    font-size: 12pt;
    padding-bottom: 25px;
    display: block;
    color: #4E6B42;
    background-color: #dff0d8;
    border: 1px solid #B9DBAB;
}

.publishingErrorNotice{
    text-align: center;
    margin-top: 55px;
    padding-top: 25px;
    font-size: 12pt;
    padding-bottom: 25px;
    display: block;
    color: #CF4242;
    background-color: #f2dede;
    border: 1px solid #EBB2B2;
}

.publishingDuplicateNotice{
    text-align: center;
    margin-top: 55px;
    padding-top: 25px;
    font-size: 12pt;
    padding-bottom: 25px;
    display: block;
    color: #B48A2C;
    background-color: #fcf8e3;
    border: 1px solid #FFE2A3;
}


/*App view page*/
.app-view-main-panel{
    border: 1px solid #eeeeee;
}

.app-view-main-panel-top{
    background-color: #eeeeee;
    padding: 15px;
}

.app-upload-form-row{
    margin-top: 25px;
    margin-bottom: 20px;
}

.app-view-app-icon{
    float:left;
}

.app-view-app-details-area{
    float:left;
    width: 55%;
}

.app-view-app-action-area{
    float: right;
    width: 45%;
}

.app-view-action-row{
    width: 100%;
    float: left;
}

.appstore-app-view-app-name{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    width:100%;
    font-weight: lighter;
    max-width: 450px;
    font-size: 25pt;
    color: #215d39;
    text-align: left;
    float: left;
}

.appstore-app-publish-title{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    width:100%;
    font-weight: lighter;
    font-size: 20pt;
    color: #215d39;
    text-align: left;
    float: left;
}

.appstore-app-view-app-category{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    width:100%;
    font-size: 15pt;
    color: #424242;
    text-align: left;
    float: left;
}

.appstore-app-view-rating{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-size: 12pt;
    color: #424242;
    float: left;
    text-align: left;
    width: 100%;
}

.appstore-app-view-app-dev-name{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-size: 11pt;
    color: #979797;
    width: 100%;
    text-align: left;
    float: left;
    padding-top: 5px;
}

.appstore-app-view-price{
    width: auto;
    height: auto;
    float: right;
    text-align: right;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-size: 15pt;
}

.appstore-app-view-action-button{
    padding: 5px 10px;
    float: right;
    color: #ffffff;
    font-size: 12pt;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.appstore-app-view-action-button-gray{
    padding: 2px 0px;
    margin-right: 15px;
    float: right;
    color: #888888;
    font-size: 13pt;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    font-weight: lighter;
}

.app-view-social-icon{
    color: #ffffff;
    background-color: #464646;
    border: 5px solid #464646;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    float: right;
    width: 30px;
    height: 30px;
    float: right;
    text-align: center;
    margin-left: 5px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}

.app-view-social-icon:hover{
    background-color: #656565;
    border-color: #656565;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.footer-social-icon{
    color: #ffffff;
    background-color: #575757;
    border: 5px solid #575757;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    float: right;
    width: 30px;
    height: 30px;
    float: right;
    text-align: center;
    margin-left: 5px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}

.footer-social-icon:hover{
    background-color: #6a6a6a;
    border-color: #6a6a6a;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.app-view-titles{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    font-weight: lighter;
    font-size: 18pt;
    text-align: left;
    float: left;
    padding-left: 15px;
    margin-top: 10px;
}

.app-view-description{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    font-weight: lighter;
    font-size: 12pt;
    color: #5D5D5D;
    text-align: left;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #F0F0F0;
    margin-top: 10px;
}

.app-view-description-common-row{
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    border-bottom: 1px solid #F0F0F0;
}

.app-view-screen-shot-image{
    width: 250px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}

.app-view-review-profile-image{
    width:50px;
    border: 1px solid #EBEBEB;
}

.user-app-review-block{
    height:85px;
    overflow: hidden;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 11pt;
    color: #5D5D5D;
}

.app-commenter-name{
    font-size: 10pt;
    font-style: normal;
}

.profile-nav-pills{
    margin-bottom: 15px;
}

.profile-nav-pills li a{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-size: 12pt;
}

.nav-pills > li > a {
    border-radius: 0px;
    color: #313131;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #226a45;
    background-color: transparent;
    border-bottom: 3px solid #226a45;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #1f4624;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #1f4624;
    outline: 0;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #1f4624;
}

.profile-search-label{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-size: 12pt;
}

.profile-row{
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.add-review-modal-footer{
    margin-top: 0px;
}

.add-review-form-group{
    margin-bottom: 5px;
}

.add-review-click{
    cursor: pointer;
}

.add-review-click:hover{
    border-bottom: 1px solid #226a45;
}
/*end app view page*/


.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
/*End -- Written by hSenid Mobile Solutions*/

/*remove .carousel-control*/
.carousel-control{
    display: none;
}

.error{
   color: #CF4242;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

.navbar {
    margin-bottom: 12px;
}
