
/*
 * (C) Copyright 2010-2013 hSenid Mobile Solutions (Pvt) Limited.
 * All Rights Reserved.
 *
 * These materials are unpublished, proprietary, confidential source code of
 * hSenid Mobile Solutions (Pvt) Limited and constitute a TRADE SECRET
 * of hSenid Mobile Solutions (Pvt) Limited.
 *
 * hSenid Mobile Solutions (Pvt) Limited retains all title to and intellectual
 * property rights in these materials.
 */
.vdf-gray-font {
    color: #333;
}

.vdf-aubergine-font {
    color: #504E4F;
}

.vdf-main-header {
    background-color: #EBEBEB;
}

.vf-rombus {
    width: 512px;
    height: 1100px;
    position: absolute;
    left: -400px;
    top: -470px;
    z-index: 10000;
}

.vdf-app-panel-header {
    background-color: #d3d3d3;
    border-left: 4px solid #c00;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.vdf-app-panel-title {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    float: left;
    margin-top: 0px;
    color: #333;
    padding-top: 3px;
    padding-bottom: 3px;
}

.vdf-app-panel-view-all {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    padding-top: 1px;
    float: right;
    margin-top: 10px;
    color: #c00000;
    cursor: pointer;
}

.vdf-app-panel-view-all:hover {
    color: #908f90
}

.vdf-app-panel-view-all a {
    color: #333333;
    text-decoration: none;
}

.vdf-app-panel-view-all a:hover {
    color: #908f90
}

.vdf-button {
    background-color: #ed1c24;
    color: #ffffff;
    font-size: 11pt;
    /*margin-bottom: 10px;*/
}

.vdf-button:hover {
    background-color: #cc0000;
    color: #ffffff;
}

.rating-color {
    color: #EB9700;
}

.vdf-pagination-normal {
    color: #c00000;
}

.vdf-pagination-normal:hover {
    color: #c00000;
}

.vdf-add-reviews-link {
    cursor: pointer;
}

.vdf-add-reviews-link:hover {
    border-bottom: 1px solid #c00000;
}

.vdf-slideshow {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #F3F3F3;
    border:1px solid #d3d3d3;
}

.vdf-modal-header {
    background-color: #ed1c24;
    color: #ffffff;
}

.vdf-sign-in-button {
    border: 0;
    width: 120px;
    margin: auto;
    font-size: 14pt;
}

.vdf-app-search-query-text {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #ed1c24;
}

.appstore-slideshow-app-name {
    /*color: #ffffff;*/
    /*font-weight: bold;*/
}

body {
    padding-top: 0px;
}

.appstore-slideshow-app-category {
    /*color: #ffffff;*/
}

.slide-rating {
    /*color: #ffffff;*/
}

.appstore-slideshow-app-dev-name {
    /*color: #ffffff;*/
    width: 100%;
    font-weight: bold;
}

.appstore-slideshow-app-des {
    /*color: #ffffff;*/
    max-width: 220px;
    max-height: 113px;
    overflow: hidden;
    font-style: italic;
}

.branding-font-style,
    /*.sign-in-connect-notice,*/
.appstore-slideshow-app-name,
.appstore-slideshow-app-category,
.appstore-slideshow-app-rating,
.appstore-slideshow-app-dev-name,
.appstore-slideshow-app-des,
.app-panel-title,
.app-panel-title-search,
.app-panel-title-right,
.app-title-view-all,
    /*.appstore-app-name,*/
.appstore-app-action-icon,
    /*.appstore-app-name-right-card,*/
.appstore-app-right-button,
    /*.appstore-app-details-right-card,*/
.add-reviews,
    /*.appstore-app-owner,*/
.appstore-app-name-3,
    /*.appstore-app-description-3,*/
.appstore-app-users-3,
.appstore-app-rating-area-3,
.appstore-app-3-button,
.appstore-app-view-app-name,
.appstore-app-publish-title,
.appstore-app-view-app-category,
.appstore-app-view-rating,
    /*.appstore-app-view-app-dev-name,*/
.appstore-app-view-price,
.appstore-app-view-action-button,
.appstore-app-view-action-button-gray,
.app-view-titles,
    /*.app-view-description,*/
.user-app-review-block,
.profile-nav-pills li a,
.profile-search-label,
    /*.container,*/
.navbar,
    /*.footerPlacement,*/
.vdf-button,
.form-control,
h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: sans-serif;
}

.appstore-app-name,
.appstore-app-name-right-card,
.appstore-app-details-right-card,
.appstore-app-owner,
.footerPlacement,
.appstore-app-description-3,
.app-view-description,
.container,
.app-view-description-common-row,
.sign-in-connect-notice,
.appstore-app-view-app-dev-name {
    font-family: sans-serif;
}

/*overriding bootstrap css*/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #c00000;
    text-decoration: none;
    background-color: #ffffff;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #c00000;
    text-decoration: none;
    background-color: #ffffff;
    outline: 0;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #c00000;
    background-color: #ffffff;
    font-weight: bold;
}

.nav .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333333;
    border-bottom-color: #333333;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #c00000;
    border-bottom-color: #c00000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #c00000;
    background-color: #ffffff;
    font-weight: bold;
    border: 1px solid #DADADA;
    border-bottom: 1px solid #ffffff;
    margin-bottom: -1px;
}

.navbar-default {
    border-color: #DADADA;
}

.navbar-default .navbar-nav > li > a {
    font-size: 12pt;
    color: #333333;
    font-weight: bold;
    background-color: #dddddd;
    border-bottom: 1px solid #dddddd;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #c00000;
    background-color: #FFFFFF;
    border-bottom: 1px solid #fff;
}

.carousel-indicators li {
    border: 1px solid #ed1c24;
    background-color: #FFFFFF;
}

.branding-background {
    background-color: #ed1c24;
}

.carousel-indicators .active {
    background-color: #c00000;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #c00000;
    border-color: #c00000;
}

.profile-nav-pills {
    margin-bottom: 15px;
}

.profile-nav-pills li a {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 12pt;
}

.nav-pills > li > a {
    border-radius: 0px;
    color: #333;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid #c00000;
}

.form-control:focus {
    border-color: #c00000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(74, 77, 78, 0.60);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(74, 77, 78, 0.60);
}

label {
    font-weight: lighter;
    color: #333;
}

.vdf-form-control:focus {
    border-color: #c00000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 136, 116, 0.60);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 137, 120, 0.60)
}

.appstore-slideshow-description {
    min-height: 225px;
    max-height: 225px;
    overflow: hidden;
    padding: 0 10px;
}

.comment-ban {
    color: #c00000;
}

pre {
    font-family: sans-serif;
}

.nav-justified a {
    font-weight: bold;
    color: #FFFFFF;
}

ul.nav-justified {
    border-radius: 5px;
}

.nav-justified a:hover {
    color: #333333;
    -webkit-transition: background 400ms ease-in-out;
    -moz-transition: background 400ms ease-in-out;
    -ms-transition: background 400ms ease-in-out;
    -o-transition: background 400ms ease-in-out;
    transition: background 400ms ease-in-out;
    -webkit-transition: color 400ms ease-in-out;
    -moz-transition: color 400ms ease-in-out;
    -ms-transition: color 400ms ease-in-out;
    -o-transition: color 400ms ease-in-out;
    transition: color 400ms ease-in-out;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: #FFFFFF;
    color: #333333;
}

.nav-justified ul {
    border-radius: 5px;
}

.row-shortned {
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    margin-bottom: 12px;
}

a:hover, a:focus {
    text-decoration: none;
}

.btn-primary-vdf {
    background-color: #ed1c24;
    border-color: #efefef;
    color: #ffffff;
    border-radius: 3px;
}

.btn-primary-vdf:hover {
    color: #efefef;
    background-color: #c00000;
}

.btn-group {
    padding-top: 8px;
}

.btn-primary-vdf a {
    color: #FFFFFF;
}

form.navbar-form input.form-control {
    width: 250px;
}

div.appstore-app-right div.row div.col-md-6 {
    padding-left: 0px;
}

#mainBodyCol {
    padding-right: 0px;
}

.vdf-fix-layout {
    padding-top: 10px;
}

.carousel-indicators {
    margin-left: 0%;
}

div.navbar div.container div.navbar-collapse ul.nav li a#signInButton {
    padding: 0;
}

.remove-comment-link {
    position: relative;
    left: 15px;
}

div.appstore-app-view-action-button {
    /*float: none;*/
    width: 133px;
}

row.appstore-app-view-app-name {
    font-size: 14px;
    font-weight: bold;
}

div#xs-navbar.navbar-collapse ul.nav li a {
    background-color: #ffffff;
    font-weight: normal;
    font-size: 14px;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

/*appstore responsive fix*/

/*for dialog*/

@media all and (min-width: 992px){
    .col-md-3 {
        width: 19.8888888888%;
    }
}

/*end dialog*/

@media all
and (max-width:990px) {

    #appStoreLeftPanel div.col-xs-12{
        padding: 0px;
        padding-left:10px;
        padding-right: 10px;
    }

    .app-panel-title-area {
        margin-bottom: 0px;
    }

    .app-panel-common-title-area {
        margin-bottom: -10px;
    }

    .appstore-app {
        height: 248px;
        margin-bottom: 10px;
    }
    #mainBodyCol {
        padding-right: 10px;
    }
}

.col-xs-6-hack {
    width: 31%;
}

.navbar-default-min {
    background-color: #ed1c24;
    border: 0px;
}

.navbar-default-min .navbar-brand {
    color: #FFF;
}

.navbar-default-min .navbar-toggle {
    background-color: #ed1c24;
    border-color: #FFFFFF;
}

.navbar-default-min .navbar-toggle:hover,
.navbar-default-min .navbar-toggle:focus {
    background-color: #FFFFFF;
    /*border-color: #c00000;*/
}

@media all
and (max-width: 770px) {

    .appstore-app-right {
        height: auto;
    }

    .responsive-social-icons {
        margin: auto;
        width: 105px;
        height: 35px;
        margin-top: 10px;
    }

    .appstore-slideshow-app-name {
        font-size: 16pt;
    }

    .appstore-slideshow-app-category {
        font-size: 13pt;
    }

    .appstore-app {
        height: 250px;
        /*margin-top: 10px;*/
        /*margin-bottom: 10px;*/
    }

    .appstore-app-right-button {
        margin-bottom: 50%;
    }
}

@media only screen
and (max-width : 480px) {
    .appstore-app {
        height: 240px;
        width: 100%;
    }

    .appstore-slideshow-app-name {
        font-size: 12pt;
    }

    .appstore-slideshow-app-category {
        font-size: 11pt;
    }

    .appstore-slideshow-app-des {
        font-size: 10pt;
    }
}
.pagination ul>.active>a, .pagination ul>.active>span{
    background-color: #c00;
}
.pagination ul>li>a:hover, .pagination ul>li>a:focus{
    background-color: #f1f1f1;
}

.appstore-app-publish-title {
    color: #c00000;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img{
    height: 225px;
}
.appstore-slideshow-image{
    width: 370px;
}

img.robi-logo{
    margin:0px;
    margin-bottom: -5px;
    margin-top: -1px;
}

img.alpona{
    width: 255px;
    height: 80px;
    position: relative;
    bottom: -62px;
    left: -23px;
}

.btn:hover, .btn:focus{
    color:#ffffff;
}